.wrap {
    padding: 20px 0;
}
/**
 *  ナビゲーション
 */
// ブランドロゴ
.ci {
    margin: 0;
}
.sf-menu { // Desktop first for IE8. If using collapse menu, you can do mobile first, then install respond.js for IE8
    float: right;
    width: auto;
    ul {
        li {
            background-color: $brand-primary;
        }
    }
    > li {
        float: left;
        width: auto;
    }
}
@media (max-width: $screen-md-min) {
    .sf-menu {
        float: left;
    }
}
@media (max-width: $screen-sm-min) {
    .sf-menu { // <ul> Top
        float: none;
        width: 100%;
        ul {
            position: static;
            li {
                background-color: darken($brand-primary,10%);
                li a {
                    padding: .75em 1em .75em 2em;
                }
            }
        }
        li {
            white-space: normal;
        }
        > li {
            float: none;
            width: 100%;
        }
    }
}

// google font
// @import url(http://fonts.googleapis.com/css?family=Bitter);

// Sprite image
// @improt "xxx"; // improt sprite scss
// Selector { // apply individually
//     @include sprite($xxx);
// }

// mediaquery
// @media ( max-width: $screen-sm-max ) { // 939px
// }
